version: "3.9"

services:
  api:
    build: .
    container_name: neura_api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: postgres:15
    container_name: neura_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1175
      POSTGRES_DB: neuradb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
